@import "tailwindcss";


@theme inline {
  --font-alpino: var(--font-alpino);
}



/* KEYFRAMES */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* UTILITIES */
@layer utilities {
  .animate-slide-left {
    animation: slide-left 3s linear infinite;
  }

  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-alpino), Arial, Helvetica, sans-serif;
}
