@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #fffbfb;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-alpino: var(--font-alpino);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #faf8f8;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-alpino), Arial, Helvetica, sans-serif;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* utilitaire pour l'effet de vague */
@layer utilities {
  .animate-slide-left {
    animation: slide-left 3s linear infinite;
  }

  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }
}